/*-------------------------------
-------- Global -----------------
-------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

main {
  margin-top: 11.5em;
}

.theme-wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: rgb(49, 76, 28);
  border-radius: 1em;
  margin: 0 auto;
  padding: 0.625em 1.25em;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

br {
  display: none;
}

/*-------------------------------
-------- Helpers ----------------
-------------------------------*/
.is-flex {
  display: flex;
}

.section-padding {
  padding: 0 2.5em;
}

.section-height {
  width: 100%;
  height: 31.25em;
}

.hidden {
  display: none;
}

.box-shadow {
  -webkit-box-shadow: 0px 4px 22px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.75);
}

.box-shadow-soft {
  -webkit-box-shadow: 0px 4px 22px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 22px -3px rgba(0, 0, 0, 0.4);
}

/*-------------------------------
-------- Links ------------------
-------------------------------*/
a {
  text-decoration: none;
}

/*-------------------------------
-------- Typography -------------
-------------------------------*/
h2 {
  font-size: 1.7em;
}

/*-------------------------------
-------- Header/Navigation ------
-------------------------------*/
.header {
  width: 100vw;
  padding: 1em 2em;
  background-color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .container .logo {
  width: 11.25em;
  height: 4.5em;
  margin: 0 auto;
}
.header .gn ul {
  justify-content: center;
  margin-top: 0.75em;
}
.header .gn li {
  font-weight: 500;
  justify-content: space-between;
}
.header .gn li :last-child {
  margin-right: 0;
}
.header .gn a {
  color: rgb(36, 36, 36);
  font-size: 0.7em;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  padding: 0.25em;
}
.header .gn .icons {
  display: none;
}

/*-------------------------------
-------- Banner -----------------
-------------------------------*/
.bnr {
  margin: 12.5em auto 1.875em;
}
.bnr .left-col {
  margin: -2.1875em auto 1.25em;
  text-align: center;
}
.bnr .left-col p {
  font-size: 0.85em;
}
.bnr .left-col span {
  font-style: italic;
  font-weight: 700;
}
.bnr .img-container {
  height: 12.5em;
}
.bnr .img-container img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}
.bnr .right-col {
  position: relative;
  bottom: -45%;
}

/*-------------------------------
-------- Why LOCLO --------------
-------------------------------*/
.why-loclo {
  background-image: url(../../images/pexels-daria-shevtsova-1394892.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  padding-top: 3.125em;
  width: 100%;
  height: 32em;
}
.why-loclo h2 {
  font-weight: 600;
  margin-bottom: 0.6em;
}
.why-loclo .right-col p {
  color: rgb(36, 36, 36);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-bottom: 1.5em;
}

/*-------------------------------
--------- New Arrivals ----------
-------------------------------*/
.new-arrivals {
  width: 100%;
  padding-top: 4em;
}
.new-arrivals h2 {
  color: rgb(36, 36, 36);
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  text-align: left;
}
.new-arrivals .new-items {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.new-arrivals .new-items li {
  padding-bottom: 1.4em;
}
.new-arrivals .new-items li img {
  width: 100%;
  margin-bottom: 1em;
}
.new-arrivals .new-items li h3, .new-arrivals .new-items li p {
  color: rgb(36, 36, 36);
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

/*-------------------------------
-------- Footer -----------------
-------------------------------*/
.footer {
  background-color: rgb(49, 76, 28);
  width: 100%;
  height: auto;
  padding: 2.55em 2.25em;
  margin-top: 2.25em;
}
.footer h3 {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
}
.footer a {
  color: rgb(255, 255, 255);
  font-size: 0.85em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: left;
}
.footer .footer-nav {
  border-bottom: 0.1em rgb(255, 255, 255) solid;
  padding-bottom: 2em;
  justify-content: space-evenly;
  margin-left: auto;
  flex-direction: column;
  row-gap: 2em;
}
.footer .footer-nav .footer-links {
  justify-content: space-evenly;
  flex-direction: column;
  row-gap: 1.5em;
}
.footer .footer-nav .socials h3 {
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  text-decoration: none;
  text-align: center;
}
.footer .footer-nav .socials .social-accounts {
  justify-content: center;
}
.footer .footer-nav .socials .social-accounts .icons {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  color: rgb(255, 255, 255);
  justify-content: center;
  box-shadow: none;
  fill: rgb(255, 255, 255);
  margin: 1em 1em 0 0;
}
.footer p {
  color: rgb(255, 255, 255);
  font-size: 0.85em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  margin-top: 2em;
}
.footer p br {
  display: block;
}

/*-------------------------------
-------- Media Queries ----------
-------------------------------*/
@media (min-width: 320px) {
  .why-loclo {
    height: 30em;
  }
  .why-loclo .left-col h2 {
    margin-bottom: 0;
  }
  .why-loclo .right-col {
    margin-top: 1em;
  }
  .why-loclo .right-col p {
    font-size: 1em;
  }
  .footer .footer-nav .footer-links {
    flex-direction: row;
  }
}
@media (min-width: 376px) {
  .footer p br {
    display: none;
  }
}
@media (min-width: 576px) {
  .bnr {
    margin: 12.5em auto 2.1875em;
  }
  .bnr .left-col p {
    font-size: 1em;
  }
  .why-loclo {
    padding: 50px 75px;
  }
  .why-loclo h2 {
    font-weight: 700;
  }
  .why-loclo .right-col {
    font-size: 1em;
  }
  .why-loclo .right-col .show {
    display: block;
  }
  .new-arrivals .new-items {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .new-arrivals .new-items li img {
    width: 41vw;
    object-fit: cover;
  }
  .new-arrivals .new-items li:nth-child(even) {
    margin-right: 0;
  }
  .footer .footer-nav {
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 2em;
  }
  .footer .footer-nav .footer-links {
    column-gap: 3em;
  }
  .footer .footer-nav .socials {
    max-width: 25%;
  }
  .footer .footer-nav .socials h3 {
    padding-top: 0;
  }
  .footer p {
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
}
@media (min-width: 600px) {
  .header {
    padding: 1.5em 2em;
  }
  .header .container {
    display: flex;
  }
  .header .container .logo {
    margin: auto 0;
  }
  .header .gn {
    margin-left: auto;
    align-self: center;
  }
  .header .gn ul {
    align-items: center;
    margin-top: 0;
  }
  .header .gn ul li {
    margin-right: 0.5em;
  }
  .header .gn ul li:last-child {
    margin-right: 0;
  }
  .header .gn ul li a {
    color: rgb(36, 36, 36);
    font-size: 0.8em;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
  }
  .header .gn ul li .icons {
    display: flex;
    width: 3.5em;
    height: 3.5em;
    justify-content: center;
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  br {
    display: block;
  }
  h2 {
    font-size: 3em;
    line-height: 1.35em;
  }
  .col {
    width: 50%;
  }
  .btn {
    font-size: 0.9em;
  }
  .header {
    padding: 1.5em 2em;
  }
  .header .container .logo {
    width: 12.5em;
    height: 5em;
  }
  .header .gn ul li {
    margin-right: 1em;
  }
  .header .gn ul li a {
    font-size: 0.9em;
  }
  .bnr {
    margin-top: -6.875em;
  }
  .bnr .left-col p {
    position: relative;
    top: 8.125em;
    left: -3.75em;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: left;
  }
  .bnr .img-container {
    height: 29.375em;
    overflow-y: hidden;
  }
  .bnr .img-container img {
    height: 65vw;
    max-height: 44.75em;
  }
  .bnr .right-col {
    bottom: 85%;
    left: 53%;
  }
  .why-loclo .display-flex {
    display: flex;
  }
  .why-loclo .left-col h2 {
    font-weight: 700;
    align-self: center;
    margin-bottom: 2em;
    margin-left: 20%;
  }
  .why-loclo .right-col p {
    font-size: 1em;
  }
  .why-loclo .right-col .btn {
    margin: auto 0 auto auto;
  }
  .new-arrivals {
    padding: 3.125em 4.6875em 0;
  }
  .new-arrivals h2 {
    font-size: 2em;
  }
  .new-arrivals .new-items li img {
    width: 38vw;
  }
  .new-arrivals .new-items li h3, .new-arrivals .new-items li p {
    font-size: 1em;
  }
  .footer .footer-nav .socials h3 {
    font-size: 1em;
  }
}
@media (min-width: 900px) {
  .header .container .gn a {
    font-weight: 700;
  }
  .new-arrivals ul li:nth-child(3n+3) {
    padding-right: 0;
  }
  .new-arrivals ul li img {
    max-width: 25vw;
  }
  .new-arrivals .hidden {
    display: block;
  }
  .footer h3 {
    font-size: 1.3em;
  }
  .footer a {
    font-size: 1em;
  }
  .footer .footer-nav .socials h3 {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
  }
}
@media (min-width: 1200px) {
  .btn:hover {
    background-color: rgb(35, 55, 19);
  }
  .new-arrivals .new-items li img {
    max-width: 21.25em;
  }
  .new-arrivals .new-items .hidden {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
