@use '../../utilities' as *;

.new-arrivals {
    width: 100%;
    padding-top: $lg*2;

    h2 {
        @include font($black, $md, $normal, $base, $uppercase);
        padding-bottom: $xs;
        text-align: left;
    }

    .new-items {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        li {
            padding-bottom: $sm*1.4;
        }

        img {
            width: 100%;
            margin-bottom: $sm;
        }

        h3, p {
            @include font($black, $sm*0.9, $medium, $base, $none);
        }
    }
}