@use '../utilities' as *;

.footer {
    background-color: $forestgreen;
    width: 100%;
    height: auto;
    padding: $md*1.7 $sm*2.25;
    margin-top: $sm*2.25;

    h3 {
        @include font($white, $sm*1.1, $semibold, $base, $none);
    }

    a {
        @include font($white, $sm*0.85, $normal, $base, $none);
        text-align: left;
    }
    
    .footer-nav {
        border-bottom: $sm*0.1 $white solid;
        padding-bottom: $sm*2;
        justify-content: space-between;
        margin-left: auto;
        flex-direction: column;
        row-gap: $lg;

        .foot-branding {
            
            .foot-logo-box {
                justify-content: center;
                
                .foot-logo {
                    @include size($sm*11.25, $sm*4.5);
                    background-color: $white;
                }
            }

            .slogan {
                @include font($white, $sm, $normal, $italic, $none);
                margin-top: $sm*0.8;
            }
        }

        .socials {
            h3 {
                @include font($white, $sm*0.8, $normal, $italic, $none);
                text-decoration: none;
                text-align: center;
            }

            .social-accounts {
                justify-content: center;

                .icons {
                    display: flex;
                    @include size($sm*2.5, $sm*2.5);
                    color: $white;
                    justify-content: center;
                    box-shadow: none;
                    fill: $white;
                    margin: $sm $sm 0 0;
                }
            }
        } 
    }

    p {
        @include font($white, $sm*0.85, $normal, $base, $none);
        text-align: center;
        margin-top: $sm*2;

        br {
            display: block;
        }
    }
    
}