@use '../utilities' as *;

@media (min-width: 600px) {

    .main-home {
        margin-top: $sm*9.4;
    }

    .header {
        
        .container {
            display: flex;
            padding: 0 $sm*2.25;
        }

        .logo {
            margin: auto 0;
        }

        .gn {
            margin-left: auto;
            align-self: center;
    
            ul {
                align-items: center;
                margin-top: 0;
            }

            li {
                margin-left: $xs;
            }
        }
    }

    .main-shopall {
        margin-top: $sm*5;
    }
}