@use '../utilities' as *;

@media (min-width: 900px) {

    .new-arrivals .new-items, 
    .feature-products .feature-items {
        li:nth-child(3n+3) {
            padding-right:0;
        }

        img {
            max-width: $sm*22.5;
        }
        
        .hidden {
            display: block;
        }
    }

    .footer {
        h3 {
            font-size: $sm*1.3;
        }

        a {
            font-size: $sm;
        }

        .footer-nav .socials h3 {
            @include font($white, $sm*1.1, $light, $italic, $none);
        }
    }
}