.is-flex {
    display: flex;
}

.section-padding {
    padding: 0 $xl;
}

.section-height {
    width: 100%;
    height: $lg*15.625;
}

.hidden {
    display: none;
}

.box-shadow {
    -webkit-box-shadow: 0px 4px 22px -3px $boxshadow;
    box-shadow: 0px 4px 12px -3px $boxshadow;
}

.box-shadow-soft {
    -webkit-box-shadow: 0px 4px 22px -3px rgba(0,0,0,0.4); 
    box-shadow: 0px 4px 22px -3px rgba(0,0,0,0.4);
}