@use 'color' as *;
@use 'size' as *;
@use 'fontweight' as *;
@use 'fontstyle' as *;
@use 'texttransform' as *;
@use 'mixin' as *;
 
/*-------------------------------
-------- Global -----------------
-------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
}

main {
    margin-top: $sm*11.5;
}

.theme-wrapper {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background-color: $forestgreen;
    border-radius: $sm;
    margin: 0 auto;
    padding: $sm*0.625 $sm*1.25;
    text-align: center;
    @include font($white, $sm*0.8, $normal, $base, $uppercase);
}

br {
    display: none;
}

/*-------------------------------
-------- Helpers ----------------
-------------------------------*/
.is-flex {
    display: flex;
}

.section-padding {
    padding: 0 $xl;
}

.section-height {
    width: 100%;
    height: $lg*15.625;
}

.hidden {
    display: none;
}

.box-shadow {
    -webkit-box-shadow: 0px 4px 22px -3px $boxshadow;
    box-shadow: 0px 4px 12px -3px $boxshadow;
}

.box-shadow-soft {
    -webkit-box-shadow: 0px 4px 22px -3px rgba(0,0,0,0.4); 
    box-shadow: 0px 4px 22px -3px rgba(0,0,0,0.4);
}

/*-------------------------------
-------- Links ------------------
-------------------------------*/
a {
    text-decoration: none;
}

/*-------------------------------
-------- Typography -------------
-------------------------------*/
h2 {
    font-size: $sm*1.7;
}

/*-------------------------------
-------- Header/Navigation ------
-------------------------------*/
.header {
    width: 100vw;
    padding: $sm $lg;
    background-color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .container .logo {
        @include size($sm*11.25, $sm*4.5);
    }

    .gn {
        ul {
            justify-content: center;
            margin-top: $sm*0.75;
        }
    
        li {
            font-weight: $medium;
            justify-content: space-between;

            :last-child{
                margin-right: 0;
            }
        }
    
        a {
            @include font($black, $sm*0.7, $semibold, $base, $uppercase);
            padding: $sm*0.25;
        }
    
        .icons {
            display: none;
        }
    }
}

/*-------------------------------
-------- Banner -----------------
-------------------------------*/
.bnr {
    margin: $sm*12.5 auto $sm*1.875;

    .left-col {
        margin: $sm*-2.1875 auto $sm*1.25;
        text-align: center;

        p {
            font-size: $sm*0.85;
        }

        span {
            font-style: italic;
            font-weight: 700;
        }
    }

    .img-container {
        height: $sm*12.5;

        img {
            width: 100%;
            height: $sm*25;
            object-fit: cover;
        }
    }

    .right-col {
        position: relative;
        bottom: -45%;
    }
}

/*-------------------------------
-------- Why LOCLO --------------
-------------------------------*/
.why-loclo {
    background-image: url(/images/pexels-daria-shevtsova-1394892.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    padding-top: $sm*3.125;
    width: 100%;
    height: $sm*32;

    h2 {
        font-weight: $semibold;
        margin-bottom: $sm*0.6;
    }

    .right-col {
        p {
            @include font($black, $sm*0.9, $normal, $base, $none);
            margin-bottom: $md;
        }
    }
}

/*-------------------------------
--------- New Arrivals ----------
-------------------------------*/
.new-arrivals {
    width: 100%;
    padding-top: $lg*2;

    h2 {
        @include font($black, $md, $normal, $base, $uppercase);
        padding-bottom: $xs;
        text-align: left;
    }

    .new-items {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        li {
            padding-bottom: $sm*1.4;

            img {
                width: 100%;
                margin-bottom: $sm;
            }
    
            h3, p {
                @include font($black, $sm*0.9, $medium, $base, $none);
            }
        }
    }
}

/*-------------------------------
-------- Footer -----------------
-------------------------------*/
.footer {
    background-color:  $forestgreen;
    width: 100%;
    height: auto;
    padding: $md*1.7 $sm*2.25;
    margin-top: $sm*2.25;

    h3 {
        @include font($white, $sm*1.1, $semibold, $base, $none);
    }
    
    .footer-nav {
        border-bottom: $sm*0.1 $white solid;
        padding-bottom: $sm*2;
        justify-content: space-evenly;
        margin-left: auto;
        flex-direction: column;
        row-gap: $md;

        ol li a {
            @include font($white, $sm, $normal, $base, $none);
            text-align: left;
        }

        .socials {
            h3 {
                @include font($white, $sm*0.9, $normal, $italic, $none);
                text-decoration: none;
                padding-top: $sm;
            }

            ol {
                justify-content: space-between;

                .icons {
                    display: flex;
                    @include size($sm*3.5, $sm*3.5);
                    color: $white;
                    justify-content: center;
                    box-shadow: none;
                    fill: $white;
                }
            }
        }
        
    }

    p {
        @include font($white, $sm, $normal, $base, $none);
        text-align: center;
        margin-top: $sm*2;
    }
}

/*-------------------------------
-------- Media Queries ----------
-------------------------------*/
@media (min-width: 320px) {

    .why-loclo {
        height: $sm*30;

        .left-col h2 {
            margin-bottom: 0;
        }

        .right-col {
            margin-top: $sm;
            
            p {
                font-size: $sm;
            }
        }
    }
}

@media (min-width: 576px) {

    .bnr {
        margin: $sm*12.5 auto $sm*2.1875;

        .left-col p { 
            font-size: $sm;
        }
    }

    .why-loclo {

        padding: 50px 75px;
        
        h2 {
            font-weight: 700;
        }

        .right-col {
            font-size: 1em;

            .show {
                display: block;
            }
        }
    }

    .new-arrivals {
        .new-items {
            flex-flow: row wrap;
            justify-content: space-between;

            li {
                img {
                    width: 41vw;
                    object-fit: cover;
                }

                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            .show-one-product {
                display: block;
            }
        }
    }

    .footer .footer-nav {
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: $sm;
    }
}

@media (min-width: 600px) {
    .header {
        padding: $md $lg;

        .container {
            display: flex;
        }

        .gn {
            margin-left: auto;
            align-self: center;
    
            ul {
                align-items: center;
                margin-top: 0;
    
                li {
                    margin-right: $xs;

                    &:last-child{
                        margin-right: 0;
                    }

                    a {
                        @include font($black, $sm*0.8, $semibold, $base, $uppercase);
                    }
        
                    .icons {
                        display: flex;
                        @include size($sm*3.5, $sm*3.5);
                        justify-content: center;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    
    br {
        display: block;
    }
    
    h2 {
        font-size: $md*2;
        line-height: $sm*1.35;
    }

    .col {
        width: 50%;
    }

    .btn {
        font-size: $sm*0.9;
    }

    .header {
        padding: $md $lg;

        .container .logo {
            @include size($sm*12.5, $sm*5);
        }

        .gn ul li {
            margin-right: $sm;

            a {
                font-size: $sm*0.9;
            }
        }
    }

    .bnr {
        margin-top: $sm*-6.875;

        .left-col {
            p {
                position: relative;
                top: $sm*8.125;
                left: $sm*-3.75;
                z-index: 1;
                color: $white;
                font-size: $sm;
                text-align: left;
            }
        }

        .img-container {
            height: $sm*29.375;
            overflow-y: hidden;

            img {
                height: 65vw;
                max-height: $sm*44.75;
            }
        }

        .right-col {
            bottom: 85%;
            left: 53%;
        }
    }

    .why-loclo {

        .display-flex {
            display: flex;
        }

        .left-col h2 {
            font-weight: 700;
            align-self: center;
            margin-bottom: 2em;
            margin-left: 20%;
        }

        .right-col {
            p {
                font-size: 1em;
            }

            .btn {
                margin: auto 0 auto auto;
            }
        }
    }
  
    .new-arrivals {
        padding: $sm*3.125 $sm*4.6875 0;

        h2 {
            font-size: $lg;
        }

        .new-items li {
            img {
                width: 38vw;
            }

            h3, p {
                font-size: $sm;
            }
        }
    }
}

@media (min-width: 900px) {

    .gn a {
        font-weight: 700;
    }

    .new-arrivals {
        ul li {
            &:nth-child(3n+3) {
                padding-right:0;
            }

            img {
            max-width: 25vw;
            }
        }
        
        .hidden {
            display: block;
        }
    }
}

@media (min-width: 1200px) {

    .btn:hover {
        background-color: $hovergreen;
    }
    
    .new-arrivals {
        .new-items {
            li img {
                max-width: $sm*21.25;
            }

            .hidden {
                display: none;
            }
        }
    }
}